---
import IndexEntry from '@/entrypoints/IndexEntry';
import Layout from '@/layouts/Layout.astro';
import { checkSession } from '@/lib/checkSession';

const { user, redirect } = await checkSession(Astro.cookies);

if (redirect) {
  return Astro.redirect(redirect);
}
---

<Layout title='dashboard' isAuth={!!user}>
  <IndexEntry client:load>
    <div slot='fallback'>Loading...</div>
  </IndexEntry>
</Layout>
