---
import { Loading } from '@/components/ui/loading';
import EntitiesEntry from '@/entrypoints/EntitiesEntry';
import Layout from '@/layouts/Layout.astro';
import { checkSession } from '@/lib/checkSession';

const { user, redirect } = await checkSession(Astro.cookies);

if (redirect) {
  return Astro.redirect(redirect);
}
---

<Layout
  title='View Entities'
  isAuth={!!user}
>
  <EntitiesEntry client:load>
    <div
      slot='fallback'
      class='flex w-full items-center justify-center'
    >
      <Loading />
    </div>
  </EntitiesEntry>
</Layout>
