---
import { buttonVariants } from '@/components/ui/button';
import { appDisplayName } from '@/config/metadata.json';
import Layout from '@/layouts/Layout.astro';
import { checkSession } from '@/lib/checkSession';

const { user, redirect } = await checkSession(Astro.cookies);

if (user) {
  return Astro.redirect('/entities');
}
---

<Layout title='Home'>
  <div class='container mx-auto flex flex-col items-center py-16'>
    <h1 class='text-center text-4xl font-bold text-balance'>
      Welcome to <br />
      {appDisplayName}
    </h1>

    <div class='mt-8 flex gap-4'>
      <a
        class={buttonVariants()}
        href='/signin'
      >
        Sign in
      </a>

      <a
        class={buttonVariants()}
        href='/register'
      >
        Register
      </a>
    </div>
  </div>
</Layout>
