---
import Layout from '@/layouts/Layout.astro';
import IndexEntry from '@/entrypoints/IndexEntry';
import { actions } from 'astro:actions';
---

<Layout>
  <IndexEntry client:load>
    <div slot='fallback'>Loading...</div>
  </IndexEntry>
</Layout>
