---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
import SelectDemo from "@/components/SelectExample";
---

<Layout>
    <Button client:load>Hello World</Button>

    <SelectDemo client:load />
</Layout>
