---
import { Loading } from '@/components/ui/loading';
import RelationshipTypesEntry from '@/entrypoints/RelationshipTypesEntry';
import Layout from '@/layouts/Layout.astro';
import { checkSession } from '@/lib/checkSession';

const { user, redirect } = await checkSession(Astro.cookies);

if (redirect) {
  return Astro.redirect(redirect);
}
---

<Layout
  title='View Relationship Types'
  isAuth={!!user}
>
  <RelationshipTypesEntry client:load>
    <div
      slot='fallback'
      class='flex w-full items-center justify-center'
    >
      <Loading />
    </div>
  </RelationshipTypesEntry>
</Layout>
