---
import { Loading } from '@/components/ui/loading';
import RelationshipsEntry from '@/entrypoints/RelationshipsEntry';
import Layout from '@/layouts/Layout.astro';
import { checkSession } from '@/lib/checkSession';

const { user, redirect } = await checkSession(Astro.cookies);

if (redirect) {
  return Astro.redirect(redirect);
}
---

<Layout
  title='View Relationships'
  isAuth={!!user}
>
  <RelationshipsEntry client:only>
    <div
      slot='fallback'
      class='flex w-full items-center justify-center'
    >
      <Loading />
    </div>
  </RelationshipsEntry>
</Layout>
