---
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';

import { appDisplayName } from '@/config/metadata.json';
import { buttonVariants } from './ui/button';
import ThemeDropdown from './theme-dropdown';

const links = [
  {
    name: 'Home',
    href: '/',
    needsAuth: false,
    className: buttonVariants({
      variant: 'ghost',
    }),
  },
  {
    name: 'Entities',
    href: '/entities',
    needsAuth: true,
    className: buttonVariants({
      variant: 'ghost',
    }),
  },
  {
    name: 'Entity Types',
    href: '/entity-types',
    needsAuth: true,
    className: buttonVariants({
      variant: 'ghost',
    }),
  },
  {
    name: 'Relationships',
    href: '/relationships',
    needsAuth: true,
    className: buttonVariants({
      variant: 'ghost',
    }),
  },
  {
    name: 'Relationship Types',
    href: '/relationship-types',
    needsAuth: true,
    className: buttonVariants({
      variant: 'ghost',
    }),
  },
  {
    name: 'Sign out',
    href: '/api/auth/signout',
    needsAuth: true,
    className: buttonVariants({
      variant: 'ghost',
    }),
  },
];

const { isAuth } = Astro.props;
---

<header class='border border-neutral-200 dark:border-neutral-700'>
  <div class='container mx-auto items-center gap-4 p-4 lg:flex'>
    <Astronav>
      <div class='flex w-full justify-between'>
        <a
          href='/'
          class={buttonVariants({
            variant: 'ghost',
          })}
        >
          {appDisplayName}
        </a>

        <ThemeDropdown client:load />

        <div class='flex lg:hidden'>
          <MenuIcon class='size-4 text-neutral-800' />
        </div>
      </div>

      <MenuItems class='hidden lg:flex'>
        <ul class='flex flex-col items-center lg:flex-row lg:gap-2'>
          {
            links.map(link => {
              if (link.needsAuth === isAuth) {
                return (
                  <li>
                    <a
                      href={link.href}
                      class={link.className}
                    >
                      {link.name}
                    </a>
                  </li>
                );
              }
            })
          }
        </ul>
      </MenuItems>
    </Astronav>
  </div>
</header>
