---
import Navbar from '@/components/Navbar.astro';
import ThemeHeadScript from '@/components/theme-head-script.astro';
import { appDisplayName } from '@/config/metadata.json';
import '@/styles/global.css';

const { title, isAuth } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title} - {appDisplayName}</title>

    <ThemeHeadScript />
  </head>

  <body class='h-screen w-screen'>
    <Navbar isAuth={isAuth} />

    <main
      class='flex h-[calc(100vh_-_68px)] flex-col items-center justify-center'
    >
      <section class='container mx-auto h-full'>
        <slot />
      </section>
    </main>
  </body>
</html>
